.hot-lead-row {
  background-color: #fff0f0;
}

.ant-table-thead > tr > th {
  background-color: #ff9f43;
  color: white;
  font-weight: 600;
  width: 12rem;
}

.ant-table-tbody > tr:hover {
  background-color: #ffe8cc;
}

.ant-tag {
  font-weight: 600;
}

.tableLayout {
  margin-left: 16rem;
}
