.sideBar {
  height: 100vh;
  width: 16rem;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1000;
  font-family: "DM Sans", sans-serif;
  position: fixed;
  padding: 0 2rem 2rem 2rem;
  top: 0;
}

.logo {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.nav {
  width: 100%;
  ul {
    list-style: none;
    text-decoration: none;
    padding: 0.7rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: #ff9f43;
    justify-content: space-between;
    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
.active {
  background-color: #fffdf8;
  border-radius: 1rem;
  padding: 0.7rem !important;
  color: #ff7a00 ;
}


    .listItem {
      display: flex;
      justify-content: space-between;
      width: 100%;
      cursor: pointer;
      padding: 0 1rem;
      font-size: 1.1rem;
      color: #ff9f43;
      text-decoration: none;

      &:hover {
        color: #ff9f43;
      }
    }
  }
}

.help {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ff9f43;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}
