.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  background-image: url("src/assets/frontpage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Reddit Sans", sans-serif;
  padding-left: 16.5rem;
  background-color: #f4f4f4;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 100px;
      color: #d85a1a;
      margin: 0;
    }

    p {
      font-size: 50px;
      color: #1f2937; // cool dark gray for contrast
      margin: 0;

      span {
        background-color: black; // soft neutral backdrop
        padding: 1rem;
        border-radius: 0.5rem;
        color: #c2410c; // warm burnt orange text
        font-style: italic;
        font-weight: 700;
      }
    }
  }

  .get-started {
    margin-top: 40px;
    padding: 15px 40px;
    background-color: #d85a1a;
    color: #fff4e3;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #c14f17;
      transform: translateY(-3px);
    }
  }
}
